* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    background-color: #FBF9EF;
}
body {
    min-height: 100%;
    display: block;
    flex-direction: column;
    font-family: "Arial", Sans-serif;
    background-color: #FBF9EF;
}

main {
    flex : 1;
    padding: 10px;
    padding-bottom: 50px;
    background-color: #FBF9EF;
}

/* Personalisation basile */
p {
    color : #000000;
}
a {
    color : rgb(0, 0, 0);
    cursor: pointer;
    text-decoration: underline;
}
a:hover {
    color : rgb(129, 100, 42);
}



/* Menu navigation */
.containerNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: min-content;
    padding: 10px 10px 10px 0;
}
/* Sidenav menu */
.sidenav {
    overflow-y: auto;
    height: 100%;
    width: 200px; /* Ajustez la largeur selon vos besoins */
    position: fixed;
    z-index: 10;
    top: 0;
    right: -100%; /* Déplacer le menu hors de l'écran */
    background-color: #C7B090;
    padding-top: 60px;
    transition: right 1.3s ease; /* Utiliser la transition pour le mouvement depuis la droite */
}
/* Sidenav menu links */
.sidenav a {
    text-align: center;
    padding: 4px 8px 8px 32px;
    text-decoration: none;
    font-size:medium;
    color: #000000;
    display: block;
    transition: 0.1s;
}
.sidenav a:hover {
    color: #818181;
}
.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/* Active class */
.sidenav.active {
    right: 0; /* Faire apparaître le menu depuis la droite */
}
/* Close btn */
.sidenav .close {
    position: absolute;
    top: 0;
    left: 2px; /* Modifier la position du bouton de fermeture */
    font-size: 36px;
}
/* Icône burger */
.burger-icon span {
    display: block;
    width: 35px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin: 6px 0;
    right: 25px; /* Modifier la position de l'icône burger si nécessaire */
}


.left, .right {
    width: min-content;
    text-align: center;
    padding: 10px;
}
.right {
    right: 0;
}
.center {
    width: 100%;
    text-align: center;
}


.container {
    margin-top: 15px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: min-content; /* Ajustez la hauteur selon vos besoins */
}
.container#banner a {
    color: black;
    text-decoration: none;
    margin: 0 15%;
    height: 20vh;
}
.container h1 {
    color: black;
}
.container a#buy {
    border-radius: 50px; 
    background-color: #35452B ; 
    color: white;   
    padding: 10px;
}
.container#cards {
    background-color: #768350;
    width: 100%;
    padding: 10px;
}
.block {
    display: flex;
    align-items: inherit;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding:5px;
}
.card {
    width: calc(100%/2 - 20px);
    padding: 20px;
    margin: 10px;
    background-color: #E9E7DE;
    border-radius: 20px;
}



@media (max-width: 600px) {
  .card {
    width: calc(100%);
  }
}



.center-div {
    display: flex; 
    align-items: center;
    justify-content: center;
} 





@media (max-width: 768px) {
    a {
        color : gray;
        /*text-align: left;*/
        cursor: pointer;
        padding: 0;
        text-decoration: underline;
    }
    a:hover {
        color : rgb(129, 100, 42);
    }


    p {
        font-size: small;
    }
}








/* icon networks style */
.network_pc {
    display: block;
}

.network_phone {
    display: none;
}

@media (max-width: 600px) {

    .network_phone {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .network_pc {
        display: none;
    }
}



/* Footer style */

footer {
    /* background-color: #b6b6b6;*/
    color: #20150d;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom : 0;
    width :100%;
    margin-top: auto;

}

footer p {
    margin: 0;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #20150d;

}

footer a:hover {
    color : rgb(255, 255, 255);
}

.containerF {
    display: flex;
    justify-content: space-between; /* Pour espacer le texte à gauche et à droite */
    align-items: center; /* Pour aligner verticalement le texte */
    width: 100%;
}
.left-text {
    flex: 1; /* Pour que le texte à gauche prenne autant d'espace que possible */
}
.right-text {
    flex: 1; /* Pour que le texte à droite prenne autant d'espace que possible */
    text-align: right; /* Pour aligner le texte à droite */
}

