
.my_infos {
    margin: auto;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 20px 60px;
    text-align: center;
    display: block;
    color : black;
}

.infos {
    display: grid; 
    grid-template-columns: 1fr 2fr;
}





p.type {
    font-weight:bold;
}
p.value {
    float: right;
}



@media screen and (max-width: 600px) {
    .my_infos {
        width: 90%;
        overflow: scroll;
        padding: 20px 5px 20px 5px;
    }
}