<!DOCTYPE html>
<html>
    <head>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comme:400,400i,700,700i&display=swap">


        {% block headerContent %}
            <title>Amaria Store</title>
        {% endblock %}
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://www.w3schools.com/lib/w3.js"></script>
        <link rel="stylesheet" href="css/style.css">         
        <link rel="icon" type="image/vnd.icon" href='pic/favicon.ico'>
    </head>
    <body>
        <div class="container">
            <div class="left" style="display:flex;">
                
            </div>

            <div class="center">
                <h1><a href="#">TITRE</a></h1>
            </div>
            <div class="right">
                <a href="#" id="openBtn">
                    <span class="burger-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                    </span>
                </a>
            </div>
        </div>
        <div class="offres">
            <p id="o1">&#x2714; 30 jours gratuits</p>
        </div>
        <div id="mySidenav" class="sidenav">
            <a id="closeBtn" href="#" class="close">×</a>
            <ul>
                <li id="nav"><a href="#">Accueil</a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li id="nav"><a href="#"></a></li>
                <!--{% if user.is_authenticated %}
                    <li><a href="{% url 'UserSpace' %}">{{user.first_name|slice:":1"}}.{{user.last_name|slice:":1"}}.</a></li>
                    <li><a href="{% url 'Logout' %}">Déconnexion</a></li>
                {% else %}
                    <li><a href="{% url 'Login' %}" id="nav">Connexion</a></li>
                {% endif %}
                -->

            </ul>
            
        </div>
        
        <script>
            var sidenav = document.getElementById("mySidenav");
            var openBtn = document.getElementById("openBtn");
            var closeBtn = document.getElementById("closeBtn");

            openBtn.onclick = openNav;
            closeBtn.onclick = closeNav;

            /* Set the width of the side navigation to 250px */
            function openNav() {
            sidenav.classList.add("active");
            }

            /* Set the width of the side navigation to 0 */
            function closeNav() {
            sidenav.classList.remove("active");
            }
            

        </script>



        <main>
            <div class="container">
                <div class="block">Offre 1</div>
                <div class="block">Offre 2</div>
                <div class="block">Offre 3</div>
            </div>
              
            <br>
            <p><a href="#">Nos politiques et Mentions légales</a></p>
            <p>&copy; 2024 TITRE</p>
            
                
            
        </main>
           
    
    </body>
        
</html>